/* Este arquivo define o visual */

* {
  margin: 0;               /* Remove margens externas */
  padding: 0;              /* Remove espaçamento interno */
  box-sizing: border-box;  /* Evita que o padding quebre o layout */
}

/* Estilo do corpo da página */
body {
  font-family: Arial, sans-serif;   /* Define a fonte do texto, escolhi Sans-serif por ter uma formatação mais formal */
  background-color: #f4f4f4;      /* Cor de fundo clara, para ficar mais destacado o texto */
  color: #333;                    /* Cor do texto (cinza escuro) */
  line-height: 1.6;                 /* Espaço entre as linhas do texto */
}

/* Cabeçalho da página */
header {
  background-color: #333;  /* Cor de fundo escura */
  color: white;            /* Cor do texto: branco */
  padding: 15px;             /* Espaçamento interno do cabeçalho */
  text-align: center;       /* Centraliza o texto no cabeçalho */
}

/* Links do menu de navegação */
nav a {
  color: white;            /* Cor dos links: branco */
  text-decoration: none;   /* Remove o sublinhado padrão dos links */
  margin: 0 10px;          /* Espaço entre os links */
  font-weight: bold;       /* Deixa o texto em negrito */
}

/* Quando o mouse passa por cima do link, achei interessante para informar se o botão está funcionando */
nav a:hover {
  text-decoration: underline; /* Sublinha o link ao passar o mouse */
}

/* Área central a onde contém o conteúdo do site */
.container {
  max-width: 800px;           /* Largura máxima do conteúdo */
  margin: 20px auto;          /* Espaço em cima/baixo + centraliza no meio */
  padding: 20px;              /* Espaço interno do conteúdo */
  background-color: white;    /* Fundo branco para destacar */
  border-radius: 10px;        /* Cantos arredondados */
}

/* Estilo dos inputs e textarea */
input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Botão enviar */
button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Quando o mouse passar por cima do botão */
button:hover {
  background-color: #555;
}
